<center><h1 style="margin-top: 30px;">Validation link</h1></center>
{% include 'email/registration/validation_link.html.twig' with {username: 'tentacode', 'validation_hash': '123456789ABCDEFGH'} %}
<hr />
