{% extends 'base_with_sidebar.html.twig' %}

{% block title %}Hello SupportController!{% endblock %}

{% block content %}
<!-- This example requires Tailwind CSS v2.0+ -->
<div class="relative">
  <div class="mt-3 h-56 sm:h-72 md:absolute md:left-0 md:h-full md:w-1/2">
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <lottie-player class="mx-auto" src="https://assets8.lottiefiles.com/packages/lf20_z01bika0.json"  background="transparent"  speed="1"  style="width: 450px; height: 450px;"  loop autoplay></lottie-player>
  </div>
  <div class="relative mt-5 max-w-7xl mx-auto px-4 py-12 sm:px-6 lg:px-8 lg:py-16">
    <div class="md:ml-auto md:w-1/2 md:pl-10">
      <h2 class="text-base font-semibold uppercase tracking-wider text-slate-600">Une question ? Besoin d'aide ?</h2>
      <p class="mt-2 text-black text-3xl font-extrabold tracking-tight sm:text-4xl">On peut en discuter !</p>
      <p class="mt-3 text-lg text-gray-900">
        ireadit.io est encore en beta, nous vous remercions pour votre patience face aux bugs et l'attente de nouvelles fonctionnalités.
      </p>
      <p class="mt-3 text-lg text-gray-900">
        Le meilleur moyen de nous poser une question ou de proposer une suggestion est de rejoindre notre serveur Discord, mais vous pouvez également envoyer un e-mail à 
        <a class="text-pink-500 hover:text-pink-600" href="mailto:ireadit@tentacode.dev">ireadit@tentacode.dev</a> !
      </p>
      <div class="mt-8">
        <div class="inline-flex rounded-md shadow">
          <a href="{{ discord_invitation_url }}" class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-gray-900 bg-pink-400 hover:bg-pink-500">
            Rejoignez le serveur Discord
            <svg style="margin-left: 5px" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3 5V20.7929C3 21.2383 3.53857 21.4614 3.85355 21.1464L7.70711 17.2929C7.89464 17.1054 8.149 17 8.41421 17H19C20.1046 17 21 16.1046 21 15V5C21 3.89543 20.1046 3 19 3H5C3.89543 3 3 3.89543 3 5Z" stroke="rgba(0,0,0,0.95)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M15 12C14.2005 12.6224 13.1502 13 12 13C10.8498 13 9.79952 12.6224 9 12" stroke="rgba(0,0,0,0.95)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M9 8.01953V8" stroke="rgba(0,0,0,0.95)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M15 8.01953V8" stroke="rgba(0,0,0,0.95)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
